<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "text-center border border-light p-5" }) do |f| %>
  <div class="card user-card">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="container">
      <p class="h4 mb-4">Sign up</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4", placeholder:"E-mail" %>

      <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-4", placeholder: "Password" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation" %>

      <!-- Sign up button -->
      <%= f.submit "Sign up", class: "btn btn-info my-4 btn-block" %>
    </div>
  </div>
<% end %>
