<p style="color: green" ><%= notice %></p>

<div class="container-fluid text-center">
  <%= link_to "See Your Bookings", movie_bookings_path(@movie), class: "btn btn-success mb-4" %>
  <div class="mt-4 d-flex justify-content-center flex-direction-column">
    <div class="card movie-card">
      <div class="card-body">
        <%= image_tag url_for(@movie.poster), class: 'thumbnail' %>

        <div class="p-3">
          <h5 class="card-title"><%= @movie.title %></h5>
          <p class="card-subtitle mb-2 text-muted"><%= @movie.genre %> kg</p>
        </div>

        <% if can? :manage, @movie %>
          <div class="d-flex justify-content-around border-top">
            <%= link_to edit_movie_path(@movie), class: "border-0 bg-white" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>  

            <%= button_to @movie, method: :delete, class: "border-0 bg-white text-danger" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
        <% end %>

      </div>
      <div class="card-footer px-2 text-center">
        <%= link_to "Book Tickets", new_movie_booking_path(@movie), class: "fw-bold text-uppercase text text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
