<% if seats.any? %>
  <%= form_with(model: [@movie, @booking], local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :showtime_id, value: showtime.id %>

    <div class="field">
      <%= form.label :show_date %>
      <%= form.select :show_date, options_for_select(showtime.available_dates, @booking.show_date), :class => 'form-control' %>
    </div>

    <div id="booking-seat-options">
      <%= render partial: 'bookings/seat_options', locals: { seats: seats, showtime: showtime } %>
    </div>

    <%= form.submit %>
  <% end %>

<% else %>
  <option disabled>No available seats</option>
<% end %>
