<% if seats.any? %>
  <%= form_with(model: [@movie, @booking], local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :showtime_id, value: showtime.id %>

    <div class="row mb-4">
      <div class="col-3 text-start">
        <%= form.label "Select Date", class: "form-label" %>
        <%= form.select :show_date, options_for_select(showtime.available_dates, @booking.show_date), {}, class: 'form-select show-date-select' %>
      </div>
      <div class="col-1 d-flex align-items-end">
        <span class="mb-2"> <%= showtime.timing%></span>
      </div>
    </div>
 
    <div id="booking-seat-options", class="mt-4">
      <%= render partial: 'bookings/seat_options', locals: { seats: seats, showtime: showtime } %>
    </div>

    <%= form.submit "Book Ticket", class: "btn btn-primary" %>
  <% end %>

<% else %>
  <option disabled>No available seats</option>
<% end %>
