<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="text-center">
    <%= render @booking %>
    <div class="d-flex justify-content-center">
      <% if current_user.admin? %>
        <%= link_to "Edit booking", edit_movie_booking_path(@movie, @booking) %> |
      <% end %>
      <%= button_to "Cancel booking", movie_booking_path(@movie, @booking), method: :delete, class: "border-0 bg-white text-danger" %>
    </div>

    <%= link_to "Back to movies", movies_path, class: "btn btn-primary mt-4" %>
  </div>
</div>
