<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MovieBookingSystem</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="me-4">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if can? :manage, Theater %>
            <li class="nav-item">
              <%= link_to "Theater", theaters_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if can? :manage, Showtime %>
            <li class="nav-item">
              <%= link_to "Show", showtimes_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if can? :manage, Movie %>
            <li class="nav-item">
              <%= link_to "Movie", new_movie_path, class: "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user&.email %>
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <% if !user_signed_in? %>
                  <%= link_to "Login", new_user_session_path, class: "btn" %>
                <% else %>
                  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
